$white: hsl(0 100% 100%);
$gray-500: hsl(218 22% 67%);
$teal-500: hsl(179 62% 43%);
$teal-400: hsl(179 48% 52%);
$teal-100: hsl(204 43% 93%);
$green-400: hsl(71 73% 54%);

body {
  background: $teal-100;
}

.pricing-card__header {
  background: $white;
}

.pricing-card__subscription {
  background: $teal-500;
}

.pricing-card__features {
  background: $teal-400;
}
